.title-container {
  margin-bottom: 30px;
}

.title-container.center {
  text-align: center;
}

.title-container.left {
  text-align: left;
}

.title-heading {
  font-size: clamp(2rem, 2.5vw, 2.8rem);
  font-weight: 800;
  color: #111827;
  margin-bottom: 10px;
}

.title-subtitle {
  font-size: 1rem;
  color: #64748b;
  max-width: 700px;
  margin: auto;
  line-height: 1.8;
}

.title-container.left .title-subtitle {
  margin: 0;
}
